.dashboard {
  width: 60em;
  box-sizing: border-box;
}

.card-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.card {
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 30%;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  margin-right: 10px;
  font-size: 40px;
  color: #1a2f79;
}