.booking-confirmation {
    padding: 20px;
    text-align: center;
}

.booking-confirmation h1 {
    font-size: 2rem;
    color: green;
}

.confirmation-details {
    margin: 20px 0;
    font-size: 1.2rem;
}

.confirmation-details p {
    margin: 5px 0;
}

.tracking-info {
    margin-top: 20px;
    font-size: 1rem;
}

.tracking-info a {
    color: blue;
    text-decoration: underline;
    font-weight: bold;
}

.booking-confirmation button{
    gap: 2px;
    padding:15px;
    background-color: #121212;
    color: white;
    border-radius: 10px;
}